 <!-- Why Us Section -->
<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden Yummy Seçilmeli?</h3>
                    <p>
                        Her yolculuk bir adımla başlar. Karşımıza çıkan engeller, bizi durdurmak için değil,
                        daha da güçlendirmek için vardır. Zorluklar bize sabrı, çabamız ise başarıyı öğretir.
                        Gerçek ilerleme; vazgeçmediğimizde başlar. Biz, her yeni güne öğrenmeye,
                        gelişmeye ve daha iyisini yapmaya hazır olarak başlarız.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-4">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Emek ve özveriyle şekillenen işler, gerçek başarıyı getirir</h4>
                            <p>
                                utku ve emekle yaptığımız her iş, gerçek değeri yaratır.
                                Sınırları zorlar, her zorluğu fırsata dönüştürürüz.
                                Kaliteyi ön planda tutar, başarıyı birlikte inşa ederiz.
                            </p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Özenli Çalışma ve Güvenilirlik</h4>
                            <p>
                                Her adımda titizlikle ilerliyoruz.
                                Sorumluluklarımızın farkında,
                                güvenilir ve kaliteli işler sunuyoruz
                            </p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Kalite ve Sorumluluk</h4>
                            <p>
                                Her işte kaliteyi ön planda tutarız.
                                Sorumlulukla, güvenle ve titizlikle ilerleriz.
                                Zorluklara rağmen, başarıyı birlikte inşa ederiz
                            </p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </div>

</section><!-- /Why Us Section -->
